/* #: id
 . : class
nada: elemento*/
#cuadro1{
    background-color: cornflowerblue;
}
#cuadro2 {
    background-color:#ff0000;
}
#cuadro3 {
    background-color:#ffd800;
}
#papelera {
    background-color:#fff;
}

#cuadro1, #cuadro2, #cuadro3, #papelera {
    float: left;
    width: 90px;
    height: 90px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.cuadradito {
    background: #000000;
    border: 2px solid #882;
    width: 5px;
    height: 5px;
    padding: 0 10px 15px;
    margin: 5px;
    border-radius: 5px;
}



